<mat-toolbar color="primary" class='footer'>
    <div class='row' style="width: 100%;">
        <div class='col-10'>
            <div class='d-flex justify-content-start"'>
                <p>Material complementario:</p>
                <ul>
                    <li><a href='https://angular.io/api/core/Directive' target="_blank">Directivas</a></li>
                    <li><a href='https://angular.io/api/core/Input' target="_blank">Input</a></li>
                    <li><a href='https://angular.io/api/core/Output' target="_blank">Output</a></li>
                    <li><a href='https://angular.io/api/core/ViewChild' target="_blank">ViewChild</a></li>
                </ul>
            </div>
        </div>
        <div class='col-2 d-flex justify-content-end align-content-end' style='align-self: self-end; padding-bottom: 15px;'>
            <a href='https://www.linkedin.com/in/agustin-pulido/' target="_blank" style="font-size: 16px;">Autor: Agustin Pulido</a>
        </div>
    </div>
</mat-toolbar>
